@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@400;500;700&display=swap");

.temporadaOne {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.temporadaTwo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.temporadaTree {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.paragraph {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.links {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
