@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

.temporadaOne {
  font-family: Rubik Bubbles, sans-serif;
}
.temporadaTwo {
  font-family: Rubik Bubbles, sans-serif;
}
.temporadaTree {
  font-family: Rubik Bubbles, sans-serif;
}
.paragraph {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.8;
}
p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
}
.links {
  font-family: "Ubuntu", sans-serif;
}
.text {
  text-align: center;
  width: 50%;
}
